.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
*.aux
*.toc
*.out
*.snm
*.log
*.nav
*.vrb
/MATERIAL_CURSOS/Clases/Data_Science/Semana_04/Notas_Tasas_base_Bayes_y_alertas.txt
/MATERIAL_CURSOS/Clases/Data_Science/Semana_04/Notas_Umbral_priorizacion_y_cierre.txt
